htitle {
    font-size: 2.1rem;
    font-weight: 650;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.2rem;
    font-weight: 625;
}

h3 {
    font-size: 1.2rem;
    font-weight: 370;
}

hp {
    font-size: 1.2rem;
    font-weight: 400;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: rgba(0, 174, 208, 255);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

/* Mobile Nav */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 1px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    color: #9c9c9c;
}

#bar:hover,
#bar.active {
    color: rgba(0, 174, 208, 255);
}

.dropdown-menu a:hover {
    background-color: #ddd;
}